In [1]:
import os
import numpy as np
import pandas as pd

In [12]:
# Set download URL
host = 'https://orca.casa.ucl.ac.uk'
path = '~jreades/data/London-2016-02-02-listings.csv.gz'   
url  = f'{host}/{path}'

# your code here
df2016 = pd.read_csv(url, compression='gzip', low_memory=False)
print(f"Data frame is {df_2016.shape[0]:,} x {df_2016.shape[1]}")

Data frame is 33,715 x 92

In [13]:
df2016.describe(percentiles=[.05,0.95]) # 0.5 is always shown

,id,scrape_id,host_id,host_listings_count,host_total_listings_count,neighbourhood_group_cleansed,latitude,longitude,accommodates,bathrooms,...,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,license,jurisdiction_names,calculated_host_listings_count,reviews_per_month
count,3.371500e+04,3.371500e+04,3.371500e+04,33710.000000,33710.000000,0.0,33715.000000,33715.000000,33715.000000,33436.000000,...,23188.000000,23254.000000,23193.000000,23274.000000,23216.000000,23216.000000,0.0,0.0,33715.000000,23776.000000
mean,6.099960e+06,2.016020e+13,1.877962e+07,9.160249,9.160249,NaN,51.508903,-0.126581,3.030165,1.248998,...,9.292349,9.078696,9.509248,9.564922,9.224845,9.032822,NaN,NaN,4.350912,1.361693
std,3.153099e+06,6.761819e+00,1.581764e+07,32.132291,32.132291,NaN,0.040172,0.081387,1.855620,0.561014,...,1.058213,1.252632,0.925434,0.900794,0.976535,1.083683,NaN,NaN,11.201678,1.333834
min,8.795000e+03,2.016020e+13,4.320000e+02,1.000000,1.000000,NaN,51.315444,-0.487079,1.000000,0.000000,...,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,NaN,NaN,1.000000,0.020000
5%,5.455513e+05,2.016020e+13,9.010770e+05,1.000000,1.000000,NaN,51.438146,-0.264314,1.000000,1.000000,...,7.000000,7.000000,8.000000,8.000000,8.000000,7.000000,NaN,NaN,1.000000,0.140000
50%,6.611900e+06,2.016020e+13,1.455477e+07,1.000000,1.000000,NaN,51.513875,-0.120776,2.000000,1.000000,...,10.000000,9.000000,10.000000,10.000000,9.000000,9.000000,NaN,NaN,1.000000,0.940000
95%,1.040332e+07,2.016020e+13,4.875495e+07,39.000000,39.000000,NaN,51.566188,-0.008022,6.000000,2.000000,...,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,NaN,NaN,17.000000,4.140000
max,1.099548e+07,2.016020e+13,5.704495e+07,727.000000,727.000000,NaN,51.675061,0.243388,16.000000,8.000000,...,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,NaN,NaN,94.000000,11.250000

In [14]:
df2016.dropna(axis=0,
          how='any',
          thresh=None,
          subset=['id','latitude', 'longitude','price'],
          inplace=False)

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,review_scores_value,requires_license,license,jurisdiction_names,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
0,5910748,https://www.airbnb.com/rooms/5910748,20160202001630,2016-02-02,The Beach House in the Suburbs,Sorry! Due to family commitments the Beach Hou...,Because the sun shines in every room it gives ...,Sorry! Due to family commitments the Beach Hou...,social,"The neighbourhood is safe, quiet, multicultura...",...,10.0,f,NaN,NaN,f,moderate,f,f,1,0.92
1,8950456,https://www.airbnb.com/rooms/8950456,20160202001630,2016-02-02,Clean nice apartment in Kingston,Nice cosy but modern 1 bedroom flat Free Parki...,Nice clean flat ground floor flat. Only 25 mi...,Nice cosy but modern 1 bedroom flat Free Parki...,none,"Only 5 minute walk from Aldi supermarket, Mata...",...,10.0,f,NaN,NaN,f,strict,f,f,1,0.77
2,375799,https://www.airbnb.com/rooms/375799,20160202001630,2016-02-02,Luxury apartment : London/Wimbledon,"Comfortable, 1 Bedroom Apartment On quiet...","Comfortable, totally self-contained on a quie...","Comfortable, 1 Bedroom Apartment On quiet...",none,Local amenities in New Malden include a variet...,...,9.0,f,NaN,NaN,f,strict,f,f,2,1.00
3,10258595,https://www.airbnb.com/rooms/10258595,20160202001630,2016-02-02,specious double bedroom for 1 or 2,"visitors from around the world, here is my spe...",NaN,"visitors from around the world, here is my spe...",none,NaN,...,10.0,f,NaN,NaN,f,flexible,f,f,1,1.00
4,8020994,https://www.airbnb.com/rooms/8020994,20160202001630,2016-02-02,Large room in New Malden,A bright and spacious room in a ground-floor o...,The room is suitable for 2 or 3 people. It is ...,A bright and spacious room in a ground-floor o...,none,There is 5 min. walk to the high street where ...,...,10.0,f,NaN,NaN,f,moderate,f,f,1,0.72
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33710,10804057,https://www.airbnb.com/rooms/10804057,20160202001630,2016-02-02,London Bridge! Lovely house!,"Lovely, fully equipped, modern, yet cosy, 5 m...","After a 6 month renovation, you will be treate...","Lovely, fully equipped, modern, yet cosy, 5 m...",none,NaN,...,NaN,f,NaN,NaN,f,flexible,f,f,1,NaN
33711,4065875,https://www.airbnb.com/rooms/4065875,20160202001630,2016-02-02,Spacious 3 bedroom Victorian house,Our beautiful recently renovated end of terrac...,Thames Ditton is a little village on the River...,Our beautiful recently renovated end of terrac...,family,We moved to Thames Ditton 18 months ago from B...,...,9.0,f,NaN,NaN,f,strict,f,f,2,0.54
33712,9839139,https://www.airbnb.com/rooms/9839139,20160202001630,2016-02-02,Stylish modern flat next to Thames,Spacious 1 bed apartment within a new riversid...,Bright and modern one bedroom flat in a brand ...,Spacious 1 bed apartment within a new riversid...,none,Historic Greenwich is a beautiful part of Lond...,...,NaN,f,NaN,NaN,f,flexible,f,f,1,NaN
33713,10901103,https://www.airbnb.com/rooms/10901103,20160202001630,2016-02-02,"3 bed 2 bath flat, Chelsea",This three bedroom flat is in a prime location...,"The flat is located on a quiet, residential st...",This three bedroom flat is in a prime location...,none,Within 10-15 minutes walk you can reach the Ki...,...,NaN,f,NaN,NaN,f,strict,f,f,10,NaN
33714,10954327,https://www.airbnb.com/rooms/10954327,20160202001630,2016-02-02,Large beautiful room on the Thames,Our beautiful room sits right on the edge of t...,"We have a brand new piano, which you're welcom...",Our beautiful room sits right on the edge of t...,none,Our house is a 10 minute walk from canary whar...,...,NaN,f,NaN,NaN,f,flexible,f,f,1,NaN

In [ ]:
#delete the '$'

In [15]:
money = ['price']
for m in money:
    print(f"Converting {m}")
    df2016[m] = df2016[m].str.replace('$','', regex=False).str.replace(',','', regex=False).astype('float')

Converting price

In [ ]:
#Filter out the variables to be used

In [16]:
df2016=df2016.loc[:, ['id','latitude', 'longitude','price']]

In [17]:
df2016['price']

0         45.0
1         60.0
2         80.0
3         27.0
4         49.0
         ...
33710     70.0
33711    159.0
33712     70.0
33713    205.0
33714     50.0
Name: price, Length: 33715, dtype: float64

In [18]:
df2016.describe()

                 id      latitude     longitude         price
count  3.371500e+04  33715.000000  33715.000000  33715.000000
mean   6.099960e+06     51.508903     -0.126581     96.080083
std    3.153099e+06      0.040172      0.081387     97.876147
min    8.795000e+03     51.315444     -0.487079      7.000000
25%    3.654366e+06     51.486629     -0.185033     45.000000
50%    6.611900e+06     51.513875     -0.120776     75.000000
75%    8.851045e+06     51.533437     -0.070986    120.000000
max    1.099548e+07     51.675061      0.243388   7001.000000

In [19]:
print(f"The mean price is ${df2016.price.mean():0.2f}")
print(f"The median price is ${df2016.price.median():0.2f}")

The mean price is $96.08
The median price is $75.00

In [89]:
import geopandas as gpd
import pandas as pd


# 读取borough shp文件
borough = gpd.read_file("data/statistical-gis-boundaries-london/ESRI/London_Borough_Excluding_MHW.shp")

borough= borough.to_crs(epsg=27700)
# 读取爱彼迎房价数据
data = df2016

# 将经纬度转换为点数据
point = gpd.GeoDataFrame(df2016, geometry=gpd.points_from_xy(df2016.longitude, df2016.latitude, crs=4326))

point= point.to_crs(epsg=27700)

# 将房价数据与行政区块数据连接起来

data2016_borough = gpd.sjoin(point, borough, how="inner",predicate='within')  
data2016_borough_grouped = data_borough.groupby("GSS_CODE").mean()

In [90]:
data2016_borough_grouped

,id,latitude,longitude,price,index_right,HECTARES,NONLD_AREA
GSS_CODE,,,,,,,
E09000001,6.267780e+06,51.516199,-0.091771,146.121212,32.0,314.942,24.546
E09000002,5.711088e+06,51.539925,0.112647,47.473684,31.0,3779.934,169.150
E09000003,6.672238e+06,51.597287,-0.200986,60.800000,9.0,8674.837,0.000
E09000004,5.762726e+06,51.464988,0.132321,44.127273,14.0,6428.649,370.619
E09000005,5.872888e+06,51.545185,-0.234122,65.680342,8.0,4323.270,0.000
E09000006,6.301246e+06,51.404687,-0.007440,58.175439,2.0,15013.487,0.000
E09000007,5.927139e+06,51.534803,-0.143085,116.059349,25.0,2178.932,0.000
E09000008,5.746996e+06,51.384476,-0.092924,54.791262,1.0,8649.441,0.000
E09000009,6.088779e+06,51.512248,-0.295652,66.387033,4.0,5554.428,0.000
E09000010,6.182737e+06,51.637176,-0.090033,55.112069,15.0,8220.025,0.000
E09000011,5.719313e+06,51.481430,0.030262,72.924444,13.0,5044.190,310.785
E09000012,5.854812e+06,51.545513,-0.069260,81.775000,28.0,1904.902,0.000
E09000013,6.095695e+06,51.489251,-0.213445,104.989785,22.0,1715.409,75.648
E09000014,5.666558e+06,51.587074,-0.106418,56.714004,29.0,2959.837,0.000
E09000015,6.014790e+06,51.590228,-0.335520,46.921053,7.0,5046.330,0.000
E09000016,6.610701e+06,51.567729,0.193950,56.866667,5.0,11445.735,210.763
E09000017,7.118445e+06,51.527544,-0.443233,53.930233,6.0,11570.063,0.000
E09000018,6.131088e+06,51.479723,-0.312278,88.376168,3.0,5658.541,60.755
E09000019,5.977729e+06,51.543867,-0.107834,93.952546,27.0,1485.664,0.000
E09000020,6.224005e+06,51.500200,-0.192405,147.016009,23.0,1238.379,25.994
E09000021,6.167440e+06,51.404714,-0.285111,69.967914,0.0,3726.117,0.000
E09000022,5.871532e+06,51.465494,-0.119013,81.106661,10.0,2724.940,43.927
E09000023,5.465452e+06,51.461754,-0.028294,62.523148,12.0,3531.706,16.795
E09000024,6.284974e+06,51.417111,-0.202708,85.291045,20.0,3762.466,0.000
E09000025,6.160336e+06,51.529933,0.019094,67.555725,30.0,3857.806,237.637
E09000026,6.002695e+06,51.577651,0.057260,59.688742,17.0,5644.225,2.300
E09000027,6.354976e+06,51.453600,-0.311732,103.872690,19.0,5876.111,135.443
E09000028,6.045809e+06,51.487222,-0.079447,85.509425,11.0,2991.340,105.139
E09000029,5.869387e+06,51.362664,-0.175211,54.018868,18.0,4384.698,0.000
E09000030,6.427883e+06,51.518245,-0.047232,76.823138,26.0,2157.501,179.707
E09000031,5.139607e+06,51.578352,-0.011533,60.923077,16.0,3880.793,0.000
E09000032,6.276836e+06,51.456752,-0.177599,92.071386,21.0,3522.022,95.600
E09000033,6.367776e+06,51.514024,-0.162892,138.513940,24.0,2203.005,54.308

In [58]:
data2016_borough_grouped

,id,latitude,longitude,price,index_right,HECTARES,NONLD_AREA
GSS_CODE,,,,,,,
E09000001,6.267780e+06,51.516199,-0.091771,146.121212,32.0,314.942,24.546
E09000002,5.711088e+06,51.539925,0.112647,47.473684,31.0,3779.934,169.150
E09000003,6.672238e+06,51.597287,-0.200986,60.800000,9.0,8674.837,0.000
E09000004,5.762726e+06,51.464988,0.132321,44.127273,14.0,6428.649,370.619
E09000005,5.872888e+06,51.545185,-0.234122,65.680342,8.0,4323.270,0.000
E09000006,6.301246e+06,51.404687,-0.007440,58.175439,2.0,15013.487,0.000
E09000007,5.927139e+06,51.534803,-0.143085,116.059349,25.0,2178.932,0.000
E09000008,5.746996e+06,51.384476,-0.092924,54.791262,1.0,8649.441,0.000
E09000009,6.088779e+06,51.512248,-0.295652,66.387033,4.0,5554.428,0.000
E09000010,6.182737e+06,51.637176,-0.090033,55.112069,15.0,8220.025,0.000
E09000011,5.719313e+06,51.481430,0.030262,72.924444,13.0,5044.190,310.785
E09000012,5.854812e+06,51.545513,-0.069260,81.775000,28.0,1904.902,0.000
E09000013,6.095695e+06,51.489251,-0.213445,104.989785,22.0,1715.409,75.648
E09000014,5.666558e+06,51.587074,-0.106418,56.714004,29.0,2959.837,0.000
E09000015,6.014790e+06,51.590228,-0.335520,46.921053,7.0,5046.330,0.000
E09000016,6.610701e+06,51.567729,0.193950,56.866667,5.0,11445.735,210.763
E09000017,7.118445e+06,51.527544,-0.443233,53.930233,6.0,11570.063,0.000
E09000018,6.131088e+06,51.479723,-0.312278,88.376168,3.0,5658.541,60.755
E09000019,5.977729e+06,51.543867,-0.107834,93.952546,27.0,1485.664,0.000
E09000020,6.224005e+06,51.500200,-0.192405,147.016009,23.0,1238.379,25.994
E09000021,6.167440e+06,51.404714,-0.285111,69.967914,0.0,3726.117,0.000
E09000022,5.871532e+06,51.465494,-0.119013,81.106661,10.0,2724.940,43.927
E09000023,5.465452e+06,51.461754,-0.028294,62.523148,12.0,3531.706,16.795
E09000024,6.284974e+06,51.417111,-0.202708,85.291045,20.0,3762.466,0.000
E09000025,6.160336e+06,51.529933,0.019094,67.555725,30.0,3857.806,237.637
E09000026,6.002695e+06,51.577651,0.057260,59.688742,17.0,5644.225,2.300
E09000027,6.354976e+06,51.453600,-0.311732,103.872690,19.0,5876.111,135.443
E09000028,6.045809e+06,51.487222,-0.079447,85.509425,11.0,2991.340,105.139
E09000029,5.869387e+06,51.362664,-0.175211,54.018868,18.0,4384.698,0.000
E09000030,6.427883e+06,51.518245,-0.047232,76.823138,26.0,2157.501,179.707
E09000031,5.139607e+06,51.578352,-0.011533,60.923077,16.0,3880.793,0.000
E09000032,6.276836e+06,51.456752,-0.177599,92.071386,21.0,3522.022,95.600
E09000033,6.367776e+06,51.514024,-0.162892,138.513940,24.0,2203.005,54.308

In [114]:
data2016_borough_grouped.price.to_csv("airbnb_mean_prices2016.csv")

In [65]:
data2016_borough_grouped_df = pd.DataFrame(data2016_borough_grouped)

In [67]:
airbnb2016=data2016_borough_grouped_df.price

In [68]:
airbnb2016

GSS_CODE
E09000001    146.121212
E09000002     47.473684
E09000003     60.800000
E09000004     44.127273
E09000005     65.680342
E09000006     58.175439
E09000007    116.059349
E09000008     54.791262
E09000009     66.387033
E09000010     55.112069
E09000011     72.924444
E09000012     81.775000
E09000013    104.989785
E09000014     56.714004
E09000015     46.921053
E09000016     56.866667
E09000017     53.930233
E09000018     88.376168
E09000019     93.952546
E09000020    147.016009
E09000021     69.967914
E09000022     81.106661
E09000023     62.523148
E09000024     85.291045
E09000025     67.555725
E09000026     59.688742
E09000027    103.872690
E09000028     85.509425
E09000029     54.018868
E09000030     76.823138
E09000031     60.923077
E09000032     92.071386
E09000033    138.513940
Name: price, dtype: float64

In [70]:
data2016_borough_grouped.price

GSS_CODE
E09000001    146.121212
E09000002     47.473684
E09000003     60.800000
E09000004     44.127273
E09000005     65.680342
E09000006     58.175439
E09000007    116.059349
E09000008     54.791262
E09000009     66.387033
E09000010     55.112069
E09000011     72.924444
E09000012     81.775000
E09000013    104.989785
E09000014     56.714004
E09000015     46.921053
E09000016     56.866667
E09000017     53.930233
E09000018     88.376168
E09000019     93.952546
E09000020    147.016009
E09000021     69.967914
E09000022     81.106661
E09000023     62.523148
E09000024     85.291045
E09000025     67.555725
E09000026     59.688742
E09000027    103.872690
E09000028     85.509425
E09000029     54.018868
E09000030     76.823138
E09000031     60.923077
E09000032     92.071386
E09000033    138.513940
Name: price, dtype: float64

In [91]:
# Set download URL
host = 'https://orca.casa.ucl.ac.uk'
path = '~jreades/data/London-2021-10-listings.csv.gz'  
url  = f'{host}/{path}'

# your code here
df = pd.read_csv(url, compression='gzip', low_memory=False)
print(f"Data frame is {df.shape[0]:,} x {df.shape[1]}")

Data frame is 70,617 x 74

In [36]:
df.describe(percentiles=[.05,0.95]) # 0.5 is always shown

,id,scrape_id,host_id,host_listings_count,host_total_listings_count,neighbourhood_group_cleansed,latitude,longitude,accommodates,bathrooms,...,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,license,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
count,7.061700e+04,7.061700e+04,7.061700e+04,69942.000000,69942.000000,0.0,70617.000000,70617.000000,70617.000000,0.0,...,47998.000000,48035.000000,47997.000000,47993.000000,0.0,70617.000000,70617.000000,70617.000000,70617.000000,49530.000000
mean,2.773223e+07,2.021091e+13,1.051931e+08,29.206371,29.206371,NaN,51.509848,-0.128761,2.996545,NaN,...,4.792491,4.808287,4.748199,4.634310,NaN,32.757141,25.487461,6.141467,0.555957,0.690920
std,1.485129e+07,1.048445e+01,1.121846e+08,142.976689,142.976689,NaN,0.047755,0.096498,1.918134,NaN,...,0.473965,0.466754,0.427643,0.525474,NaN,128.979783,111.826130,29.774965,5.707299,1.697638
min,1.391300e+04,2.021091e+13,2.010000e+03,0.000000,0.000000,NaN,51.297330,-0.508870,0.000000,NaN,...,0.000000,0.000000,0.000000,0.000000,NaN,1.000000,0.000000,0.000000,0.000000,0.010000
5%,3.726669e+06,2.021091e+13,2.125620e+06,0.000000,0.000000,NaN,51.423398,-0.294824,1.000000,NaN,...,4.000000,4.000000,4.000000,4.000000,NaN,1.000000,0.000000,0.000000,0.000000,0.020000
50%,2.738781e+07,2.021091e+13,5.302758e+07,1.000000,1.000000,NaN,51.513910,-0.126280,2.000000,NaN,...,4.960000,5.000000,4.880000,4.770000,NaN,1.000000,1.000000,1.000000,0.000000,0.300000
95%,5.069131e+07,2.021091e+13,3.530251e+08,92.000000,92.000000,NaN,51.586680,0.018792,6.000000,NaN,...,5.000000,5.000000,5.000000,5.000000,NaN,138.000000,94.000000,12.000000,0.000000,2.440000
max,5.216677e+07,2.021091e+13,4.221723e+08,3508.000000,3508.000000,NaN,51.686410,0.288570,16.000000,NaN,...,5.000000,5.000000,5.000000,5.000000,NaN,864.000000,863.000000,249.000000,62.000000,118.290000

In [92]:
df.dropna(axis=0,
          how='any',
          thresh=None,
          subset=['id','latitude', 'longitude','price'],
          inplace=False)

,id,listing_url,scrape_id,last_scraped,name,description,neighborhood_overview,picture_url,host_id,host_url,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,13913,https://www.airbnb.com/rooms/13913,20210909211636,2021-09-11,Holiday London DB Room Let-on going,My bright double bedroom with a large window h...,Finsbury Park is a friendly melting pot commun...,https://a0.muscache.com/pictures/miso/Hosting-...,54730,https://www.airbnb.com/users/show/54730,...,4.89,4.63,4.74,NaN,f,2,1,1,0,0.17
1,15400,https://www.airbnb.com/rooms/15400,20210909211636,2021-09-11,Bright Chelsea Apartment. Chelsea!,Lots of windows and light. St Luke's Gardens ...,It is Chelsea.,https://a0.muscache.com/pictures/428392/462d26...,60302,https://www.airbnb.com/users/show/60302,...,4.82,4.93,4.73,NaN,f,1,1,0,0,0.80
2,17402,https://www.airbnb.com/rooms/17402,20210909211636,2021-09-11,Superb 3-Bed/2 Bath & Wifi: Trendy W1,You'll have a wonderful stay in this superb mo...,"Location, location, location! You won't find b...",https://a0.muscache.com/pictures/39d5309d-fba7...,67564,https://www.airbnb.com/users/show/67564,...,4.66,4.85,4.59,NaN,f,15,15,0,0,0.35
3,17506,https://www.airbnb.com/rooms/17506,20210909211636,2021-09-11,Boutique Chelsea/Fulham Double bed 5-star ensuite,Enjoy a chic stay in this elegant but fully mo...,Fulham is 'villagey' and residential – a real ...,https://a0.muscache.com/pictures/11901327/e63d...,67915,https://www.airbnb.com/users/show/67915,...,NaN,NaN,NaN,NaN,f,2,0,2,0,NaN
4,24328,https://www.airbnb.com/rooms/24328,20210909211636,2021-09-11,"Battersea bedroom & studio, parking, shared ga...","Artist house, bright high ceiling rooms, priva...","- Battersea is a quiet family area, easy acces...",https://a0.muscache.com/pictures/c4ffa398-ebfd...,41759,https://www.airbnb.com/users/show/41759,...,4.93,4.58,4.64,NaN,f,1,1,0,0,0.77
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70612,52161425,https://www.airbnb.com/rooms/52161425,20210909211636,2021-09-11,Double room 2 mins away from Kilburn station,Mind the flat is pleased to present this 3 bed...,NaN,https://a0.muscache.com/pictures/382b7846-c8e6...,14238741,https://www.airbnb.com/users/show/14238741,...,NaN,NaN,NaN,NaN,f,5,0,5,0,NaN
70613,52162679,https://www.airbnb.com/rooms/52162679,20210909211636,2021-09-11,London Town Apartments in the City Centre for ...,Experience world-class service at Town Hall Ho...,International neighborhood,https://a0.muscache.com/pictures/bd7b5367-64d7...,339637030,https://www.airbnb.com/users/show/339637030,...,NaN,NaN,NaN,NaN,f,6,6,0,0,NaN
70614,52163425,https://www.airbnb.com/rooms/52163425,20210909211636,2021-09-12,Cosy 3 Bedroom House near Heathway station,A lovely four bedroom house with well furnishe...,NaN,https://a0.muscache.com/pictures/0af36bb0-e746...,20802740,https://www.airbnb.com/users/show/20802740,...,NaN,NaN,NaN,NaN,t,11,11,0,0,NaN
70615,52163904,https://www.airbnb.com/rooms/52163904,20210909211636,2021-09-11,London Rooms located in the city centre $$,London N Rooms- Lancaster Gate is a 4-star pro...,city center international neigbourhood,https://a0.muscache.com/pictures/31eb6734-92f5...,339637030,https://www.airbnb.com/users/show/339637030,...,NaN,NaN,NaN,NaN,f,6,6,0,0,NaN
70616,52166774,https://www.airbnb.com/rooms/52166774,20210909211636,2021-09-11,"Central London 10 min walk to Oxford st, Marly...",NaN,NaN,https://a0.muscache.com/pictures/3ff63057-14b4...,229223230,https://www.airbnb.com/users/show/229223230,...,NaN,NaN,NaN,NaN,f,5,3,2,0,NaN

In [38]:
money = ['price']
for m in money:
    print(f"Converting {m}")
    df[m] = df[m].str.replace('$','', regex=False).str.replace(',','', regex=False).astype('float')

Converting price

In [41]:
df2021=df.loc[:, ['id','latitude', 'longitude','price']]

In [42]:
df2021

             id   latitude  longitude  price
0         13913  51.568020  -0.111210   65.0
1         15400  51.487800  -0.168130   75.0
2         17402  51.521950  -0.140940  307.0
3         17506  51.479350  -0.197430  150.0
4         24328  51.472980  -0.163760  195.0
...         ...        ...        ...    ...
70612  52161425  51.546600  -0.205550   32.0
70613  52162679  51.530435  -0.054673  336.0
70614  52163425  51.543330   0.156380  120.0
70615  52163904  51.510796  -0.181146  206.0
70616  52166774  51.520716  -0.158749   80.0

[70617 rows x 4 columns]

In [44]:
df2021.describe()

                 id      latitude     longitude         price
count  7.061700e+04  70617.000000  70617.000000  70617.000000
mean   2.773223e+07     51.509848     -0.128761    137.489528
std    1.485129e+07      0.047755      0.096498    302.702928
min    1.391300e+04     51.297330     -0.508870      0.000000
25%    1.581610e+07     51.484120     -0.188630     45.000000
50%    2.738781e+07     51.513910     -0.126280     80.000000
75%    4.052325e+07     51.539700     -0.069460    139.000000
max    5.216677e+07     51.686410      0.288570  17709.000000

In [45]:
print(f"The mean price is ${df.price.mean():0.2f}")
print(f"The median price is ${df.price.median():0.2f}")

The mean price is $137.49
The median price is $80.00

In [99]:
import geopandas as gpd
import pandas as pd


# 读取borough shp文件
borough = gpd.read_file("data/statistical-gis-boundaries-london/ESRI/London_Borough_Excluding_MHW.shp")

borough= borough.to_crs(epsg=27700)
# 读取爱彼迎房价数据
data = df2021

# 将经纬度转换为点数据
point = gpd.GeoDataFrame(df2021, geometry=gpd.points_from_xy(df2021.longitude, df2021.latitude, crs=4326))

point= point.to_crs(epsg=27700)

# 将房价数据与行政区块数据连接起来

data_borough = gpd.sjoin(point, borough, how="inner",predicate='within')  
data2021_borough_grouped = data_borough.groupby("GSS_CODE").mean()

In [100]:
data2021_borough_grouped

,id,latitude,longitude,price,index_right,HECTARES,NONLD_AREA
GSS_CODE,,,,,,,
E09000001,3.196386e+07,51.514657,-0.090680,233.869318,32.0,314.942,24.546
E09000002,3.334314e+07,51.543929,0.119642,72.875312,31.0,3779.934,169.150
E09000003,2.920885e+07,51.597112,-0.207674,130.208519,9.0,8674.837,0.000
E09000004,3.359817e+07,51.471995,0.138712,66.356890,14.0,6428.649,370.619
E09000005,2.719853e+07,51.547121,-0.237826,125.802852,8.0,4323.270,0.000
E09000006,2.809019e+07,51.400442,0.002100,78.947748,2.0,15013.487,0.000
E09000007,2.911931e+07,51.537515,-0.148323,148.002035,25.0,2178.932,0.000
E09000008,3.118254e+07,51.382928,-0.096320,66.705660,1.0,8649.441,0.000
E09000009,2.768028e+07,51.513824,-0.299246,91.444651,4.0,5554.428,0.000
E09000010,2.894413e+07,51.634474,-0.086686,69.187394,15.0,8220.025,0.000
E09000011,2.968208e+07,51.482459,0.040718,135.380572,13.0,5044.190,310.785
E09000012,2.361275e+07,51.546285,-0.068413,100.353562,28.0,1904.902,0.000
E09000013,2.563678e+07,51.490115,-0.214793,138.551072,22.0,1715.409,75.648
E09000014,2.587314e+07,51.586624,-0.102390,97.877949,29.0,2959.837,0.000
E09000015,2.956389e+07,51.589884,-0.333156,74.633641,7.0,5046.330,0.000
E09000016,3.327088e+07,51.572310,0.198258,84.845560,5.0,11445.735,210.763
E09000017,3.447787e+07,51.523670,-0.439710,104.585827,6.0,11570.063,0.000
E09000018,2.973848e+07,51.476576,-0.329929,112.323819,3.0,5658.541,60.755
E09000019,2.496207e+07,51.544827,-0.107831,139.949430,27.0,1485.664,0.000
E09000020,3.009607e+07,51.498759,-0.189193,205.254110,23.0,1238.379,25.994
E09000021,2.956199e+07,51.403853,-0.286399,114.294455,0.0,3726.117,0.000
E09000022,2.503137e+07,51.463631,-0.119331,99.999225,10.0,2724.940,43.927
E09000023,2.577928e+07,51.458018,-0.027491,88.173583,12.0,3531.706,16.795
E09000024,2.521340e+07,51.415857,-0.195851,119.678540,20.0,3762.466,0.000
E09000025,2.852988e+07,51.530221,0.019948,89.907990,30.0,3857.806,237.637
E09000026,2.985430e+07,51.577352,0.067467,75.127466,17.0,5644.225,2.300
E09000027,2.437169e+07,51.453102,-0.308291,137.419103,19.0,5876.111,135.443
E09000028,2.694954e+07,51.486553,-0.079731,173.169880,11.0,2991.340,105.139
E09000029,3.118554e+07,51.367212,-0.185211,75.982993,18.0,4384.698,0.000
E09000030,2.749106e+07,51.518297,-0.046331,103.374649,26.0,2157.501,179.707
E09000031,2.705703e+07,51.578188,-0.013482,75.057453,16.0,3880.793,0.000
E09000032,2.623482e+07,51.455807,-0.177917,131.286308,21.0,3522.022,95.600
E09000033,3.145226e+07,51.513382,-0.161574,241.698767,24.0,2203.005,54.308

In [108]:
data2021_borough_grouped.price

GSS_CODE
E09000001    233.869318
E09000002     72.875312
E09000003    130.208519
E09000004     66.356890
E09000005    125.802852
E09000006     78.947748
E09000007    148.002035
E09000008     66.705660
E09000009     91.444651
E09000010     69.187394
E09000011    135.380572
E09000012    100.353562
E09000013    138.551072
E09000014     97.877949
E09000015     74.633641
E09000016     84.845560
E09000017    104.585827
E09000018    112.323819
E09000019    139.949430
E09000020    205.254110
E09000021    114.294455
E09000022     99.999225
E09000023     88.173583
E09000024    119.678540
E09000025     89.907990
E09000026     75.127466
E09000027    137.419103
E09000028    173.169880
E09000029     75.982993
E09000030    103.374649
E09000031     75.057453
E09000032    131.286308
E09000033    241.698767
Name: price, dtype: float64

In [113]:
data2021_borough_grouped.price.to_csv("airbnb_mean_prices2021.csv")

In [115]:
import pandas as pd
airbnb2016= pd.read_csv("airbnb_mean_prices2016.csv")
airbnb2021= pd.read_csv("airbnb_mean_prices2021.csv")

In [77]:
price =airbnb2016.loc[:,'price']

In [118]:
#Airbnb Rental Growth 2016 to 2021
airbnb2021_2016=[airbnb2021.price-airbnb2016.price]

In [141]:
airbnb2021_2016

[0      87.748106
 1      25.401628
 2      69.408519
 3      22.229618
 4      60.122510
 5      20.772309
 6      31.942686
 7      11.914398
 8      25.057617
 9      14.075325
 10     62.456128
 11     18.578562
 12     33.561287
 13     41.163945
 14     27.712588
 15     27.978893
 16     50.655594
 17     23.947651
 18     45.996884
 19     58.238100
 20     44.326541
 21     18.892565
 22     25.650435
 23     34.387495
 24     22.352265
 25     15.438724
 26     33.546413
 27     87.660455
 28     21.964125
 29     26.551511
 30     14.134376
 31     39.214922
 32    103.184827
 Name: price, dtype: float64]

In [ ]:
#Distance from CDB

In [120]:
distance= pd.read_csv("CBD.csv")

In [122]:
distance_borough= distance.loc[:,'distance']

In [ ]:
#london house price

In [123]:
house_price=pd.read_csv("LondonHousePrice.csv")

In [124]:
house_price2016=house_price.loc[:,'2016']

In [125]:
house_price2021=house_price.loc[:,'2021']

In [127]:
house_price2021_2016=house_price2021-house_price2016

In [129]:
house_price2021_2016

0     -5851
1     42588
2     24789
3     44446
4     24268
5     37964
6     28950
7     39300
8     29825
9     38525
10    32554
11    56122
12     9622
13    47327
14    32065
15    49029
16    30473
17    38175
18    48165
19    45581
20    29813
21    18922
22    35464
23    49393
24    39794
25    62246
26    57536
27     4434
28    36873
29    -2311
30    64459
31     2772
32   -32766
33    31193
dtype: int64

In [153]:
house_price2021_2016.to_csv("house_price2021_2016.csv")

In [ ]:
#coombine the 'house_price2021_2016' 'airbnb2021_2016'  'distance_borough' dataset we get new dataframe'housedata'

In [150]:
housedata=pd.read_csv("housedata.csv")

In [151]:
housedata

,Unnamed: 0,NAME,GSS_CODE,house_price2021_2016,distance_borough,airbnb2021_2016
0,1,City of London,E09000001,-5851,0.000000,87.748106
1,2,Barking and Dagenham,E09000002,42588,16021.558490,25.401628
2,3,Barnet,E09000003,24789,13907.482870,69.408519
3,4,Bexley,E09000004,44446,17309.958170,22.229618
4,5,Brent,E09000005,24268,13118.913730,60.122510
5,6,Bromley,E09000006,37964,18771.247040,20.772309
6,7,Camden,E09000007,28950,5727.789729,31.942687
7,8,Croydon,E09000008,39300,17749.105770,11.914398
8,9,Ealing,E09000009,29825,16597.626480,25.057617
9,10,Enfield,E09000010,38525,15149.108140,14.075325
10,11,Greenwich,E09000011,32554,11317.174820,62.456128
11,12,Hackney,E09000012,56122,4619.055263,18.578562
12,13,Hammersmith and Fulham,E09000013,9622,9205.924155,33.561287
13,14,Haringey,E09000014,47327,8468.703341,41.163945
14,15,Harrow,E09000015,32065,19579.449030,27.712588
15,16,Havering,E09000016,49029,22420.874760,27.978893
16,17,Hillingdon,E09000017,30473,24704.899110,50.655594
17,18,Hounslow,E09000018,38175,19781.794410,23.947651
18,19,Islington,E09000019,48165,3946.533877,45.996884
19,20,Kensington and Chelsea,E09000020,45581,7136.217753,58.238100
20,21,Kingston upon Thames,E09000021,29813,19560.681090,44.326541
21,22,Lambeth,E09000022,18922,7106.040598,18.892565
22,23,Lewisham,E09000023,35464,8950.115892,25.650435
23,24,Merton,E09000024,49393,13764.427340,34.387495
24,25,Newham,E09000025,39794,9047.046118,22.352265
25,26,Redbridge,E09000026,62246,14067.507810,15.438724
26,27,Richmond upon Thames,E09000027,57536,17338.129690,33.546413
27,28,Southwark,E09000028,4434,4797.260652,87.660455
28,29,Sutton,E09000029,36873,17999.695100,21.964125
29,30,Tower Hamlets,E09000030,-2311,3935.969607,26.551511
30,31,Waltham Forest,E09000031,64459,10391.965040,14.134376
31,32,Wandsworth,E09000032,2772,9630.783696,39.214922
32,33,Westminster,E09000033,-32766,4798.992404,103.184827

In [128]:
#linear regression

In [126]:
import pandas as pd
from sklearn.linear_model import LinearRegression
import statsmodels.api as sm

import numpy as np

import sklearn
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix

import matplotlib.pyplot as plt
import seaborn as sn

In [152]:
model = sm.formula.ols('house_price2021_2016 ~ airbnb2021_2016 + distance_borough',housedata).fit()
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                             OLS Regression Results
================================================================================
Dep. Variable:     house_price2021_2016   R-squared:                       0.443
Model:                              OLS   Adj. R-squared:                  0.406
Method:                   Least Squares   F-statistic:                     11.95
Date:                  Fri, 13 Jan 2023   Prob (F-statistic):           0.000152
Time:                          22:40:55   Log-Likelihood:                -365.21
No. Observations:                    33   AIC:                             736.4
Df Residuals:                        30   BIC:                             740.9
Df Model:                             2
Covariance Type:              nonrobust
====================================================================================
                       coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------
Intercept         4.404e+04   9864.040      4.464      0.000    2.39e+04    6.42e+04
airbnb2021_2016   -519.7487    134.955     -3.851      0.001    -795.364    -244.134
distance_borough     0.6268      0.502      1.247      0.222      -0.399       1.653
==============================================================================
Omnibus:                        0.400   Durbin-Watson:                   1.942
Prob(Omnibus):                  0.819   Jarque-Bera (JB):                0.549
Skew:                          -0.197   Prob(JB):                        0.760
Kurtosis:                       2.506   Cond. No.                     4.80e+04
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 4.8e+04. This might indicate that there are
strong multicollinearity or other numerical problems.
"""