In [1]:
import os
import numpy as np
import pandas as pd

In [12]:
# Set download URL
host = 'https://orca.casa.ucl.ac.uk'
path = '~jreades/data/London-2016-02-02-listings.csv.gz'   
url  = f'{host}/{path}'

# your code here
df2016 = pd.read_csv(url, compression='gzip', low_memory=False)
print(f"Data frame is {df_2016.shape[0]:,} x {df_2016.shape[1]}")

Data frame is 33,715 x 92

In [13]:
df2016.describe(percentiles=[.05,0.95]) # 0.5 is always shown

,id,scrape_id,host_id,host_listings_count,host_total_listings_count,neighbourhood_group_cleansed,latitude,longitude,accommodates,bathrooms,...,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,license,jurisdiction_names,calculated_host_listings_count,reviews_per_month
count,3.371500e+04,3.371500e+04,3.371500e+04,33710.000000,33710.000000,0.0,33715.000000,33715.000000,33715.000000,33436.000000,...,23188.000000,23254.000000,23193.000000,23274.000000,23216.000000,23216.000000,0.0,0.0,33715.000000,23776.000000
mean,6.099960e+06,2.016020e+13,1.877962e+07,9.160249,9.160249,NaN,51.508903,-0.126581,3.030165,1.248998,...,9.292349,9.078696,9.509248,9.564922,9.224845,9.032822,NaN,NaN,4.350912,1.361693
std,3.153099e+06,6.761819e+00,1.581764e+07,32.132291,32.132291,NaN,0.040172,0.081387,1.855620,0.561014,...,1.058213,1.252632,0.925434,0.900794,0.976535,1.083683,NaN,NaN,11.201678,1.333834
min,8.795000e+03,2.016020e+13,4.320000e+02,1.000000,1.000000,NaN,51.315444,-0.487079,1.000000,0.000000,...,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,NaN,NaN,1.000000,0.020000
5%,5.455513e+05,2.016020e+13,9.010770e+05,1.000000,1.000000,NaN,51.438146,-0.264314,1.000000,1.000000,...,7.000000,7.000000,8.000000,8.000000,8.000000,7.000000,NaN,NaN,1.000000,0.140000
50%,6.611900e+06,2.016020e+13,1.455477e+07,1.000000,1.000000,NaN,51.513875,-0.120776,2.000000,1.000000,...,10.000000,9.000000,10.000000,10.000000,9.000000,9.000000,NaN,NaN,1.000000,0.940000
95%,1.040332e+07,2.016020e+13,4.875495e+07,39.000000,39.000000,NaN,51.566188,-0.008022,6.000000,2.000000,...,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,NaN,NaN,17.000000,4.140000
max,1.099548e+07,2.016020e+13,5.704495e+07,727.000000,727.000000,NaN,51.675061,0.243388,16.000000,8.000000,...,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,NaN,NaN,94.000000,11.250000

In [14]:
df2016.dropna(axis=0,
          how='any',
          thresh=None,
          subset=['id','latitude', 'longitude','price'],
          inplace=False)

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,review_scores_value,requires_license,license,jurisdiction_names,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
0,5910748,https://www.airbnb.com/rooms/5910748,20160202001630,2016-02-02,The Beach House in the Suburbs,Sorry! Due to family commitments the Beach Hou...,Because the sun shines in every room it gives ...,Sorry! Due to family commitments the Beach Hou...,social,"The neighbourhood is safe, quiet, multicultura...",...,10.0,f,NaN,NaN,f,moderate,f,f,1,0.92
1,8950456,https://www.airbnb.com/rooms/8950456,20160202001630,2016-02-02,Clean nice apartment in Kingston,Nice cosy but modern 1 bedroom flat Free Parki...,Nice clean flat ground floor flat. Only 25 mi...,Nice cosy but modern 1 bedroom flat Free Parki...,none,"Only 5 minute walk from Aldi supermarket, Mata...",...,10.0,f,NaN,NaN,f,strict,f,f,1,0.77
2,375799,https://www.airbnb.com/rooms/375799,20160202001630,2016-02-02,Luxury apartment : London/Wimbledon,"Comfortable, 1 Bedroom Apartment On quiet...","Comfortable, totally self-contained on a quie...","Comfortable, 1 Bedroom Apartment On quiet...",none,Local amenities in New Malden include a variet...,...,9.0,f,NaN,NaN,f,strict,f,f,2,1.00
3,10258595,https://www.airbnb.com/rooms/10258595,20160202001630,2016-02-02,specious double bedroom for 1 or 2,"visitors from around the world, here is my spe...",NaN,"visitors from around the world, here is my spe...",none,NaN,...,10.0,f,NaN,NaN,f,flexible,f,f,1,1.00
4,8020994,https://www.airbnb.com/rooms/8020994,20160202001630,2016-02-02,Large room in New Malden,A bright and spacious room in a ground-floor o...,The room is suitable for 2 or 3 people. It is ...,A bright and spacious room in a ground-floor o...,none,There is 5 min. walk to the high street where ...,...,10.0,f,NaN,NaN,f,moderate,f,f,1,0.72
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33710,10804057,https://www.airbnb.com/rooms/10804057,20160202001630,2016-02-02,London Bridge! Lovely house!,"Lovely, fully equipped, modern, yet cosy, 5 m...","After a 6 month renovation, you will be treate...","Lovely, fully equipped, modern, yet cosy, 5 m...",none,NaN,...,NaN,f,NaN,NaN,f,flexible,f,f,1,NaN
33711,4065875,https://www.airbnb.com/rooms/4065875,20160202001630,2016-02-02,Spacious 3 bedroom Victorian house,Our beautiful recently renovated end of terrac...,Thames Ditton is a little village on the River...,Our beautiful recently renovated end of terrac...,family,We moved to Thames Ditton 18 months ago from B...,...,9.0,f,NaN,NaN,f,strict,f,f,2,0.54
33712,9839139,https://www.airbnb.com/rooms/9839139,20160202001630,2016-02-02,Stylish modern flat next to Thames,Spacious 1 bed apartment within a new riversid...,Bright and modern one bedroom flat in a brand ...,Spacious 1 bed apartment within a new riversid...,none,Historic Greenwich is a beautiful part of Lond...,...,NaN,f,NaN,NaN,f,flexible,f,f,1,NaN
33713,10901103,https://www.airbnb.com/rooms/10901103,20160202001630,2016-02-02,"3 bed 2 bath flat, Chelsea",This three bedroom flat is in a prime location...,"The flat is located on a quiet, residential st...",This three bedroom flat is in a prime location...,none,Within 10-15 minutes walk you can reach the Ki...,...,NaN,f,NaN,NaN,f,strict,f,f,10,NaN
33714,10954327,https://www.airbnb.com/rooms/10954327,20160202001630,2016-02-02,Large beautiful room on the Thames,Our beautiful room sits right on the edge of t...,"We have a brand new piano, which you're welcom...",Our beautiful room sits right on the edge of t...,none,Our house is a 10 minute walk from canary whar...,...,NaN,f,NaN,NaN,f,flexible,f,f,1,NaN

In [ ]:
#delete the '$'

In [15]:
money = ['price']
for m in money:
    print(f"Converting {m}")
    df2016[m] = df2016[m].str.replace('$','', regex=False).str.replace(',','', regex=False).astype('float')

Converting price

In [ ]:
#Filter out the variables to be used

In [16]:
df2016=df2016.loc[:, ['id','latitude', 'longitude','price']]

In [17]:
df2016['price']

0         45.0
1         60.0
2         80.0
3         27.0
4         49.0
         ...
33710     70.0
33711    159.0
33712     70.0
33713    205.0
33714     50.0
Name: price, Length: 33715, dtype: float64

In [18]:
df2016.describe()

                 id      latitude     longitude         price
count  3.371500e+04  33715.000000  33715.000000  33715.000000
mean   6.099960e+06     51.508903     -0.126581     96.080083
std    3.153099e+06      0.040172      0.081387     97.876147
min    8.795000e+03     51.315444     -0.487079      7.000000
25%    3.654366e+06     51.486629     -0.185033     45.000000
50%    6.611900e+06     51.513875     -0.120776     75.000000
75%    8.851045e+06     51.533437     -0.070986    120.000000
max    1.099548e+07     51.675061      0.243388   7001.000000

In [19]:
print(f"The mean price is ${df2016.price.mean():0.2f}")
print(f"The median price is ${df2016.price.median():0.2f}")

The mean price is $96.08
The median price is $75.00

In [22]:
import geopandas as gpd
import pandas as pd


# 读取borough shp文件
borough = gpd.read_file("data/statistical-gis-boundaries-london/ESRI/London_Borough_Excluding_MHW.shp")

borough= borough.to_crs(epsg=27700)
# 读取爱彼迎房价数据
data = df2016

# 将经纬度转换为点数据
point = gpd.GeoDataFrame(df2016, geometry=gpd.points_from_xy(df2016.longitude, df2016.latitude, crs=4326))

point= point.to_crs(epsg=27700)

# 将房价数据与行政区块数据连接起来

data2016_borough = gpd.sjoin(point, borough, how="inner",predicate='within')  
data2016_borough_grouped = data_borough.groupby("GSS_CODE").mean()

In [23]:
data2016_borough_grouped

,id,latitude,longitude,price,index_right,HECTARES,NONLD_AREA
GSS_CODE,,,,,,,
E09000001,6.267780e+06,51.516199,-0.091771,146.121212,32.0,314.942,24.546
E09000002,5.711088e+06,51.539925,0.112647,47.473684,31.0,3779.934,169.150
E09000003,6.672238e+06,51.597287,-0.200986,60.800000,9.0,8674.837,0.000
E09000004,5.762726e+06,51.464988,0.132321,44.127273,14.0,6428.649,370.619
E09000005,5.872888e+06,51.545185,-0.234122,65.680342,8.0,4323.270,0.000
E09000006,6.301246e+06,51.404687,-0.007440,58.175439,2.0,15013.487,0.000
E09000007,5.927139e+06,51.534803,-0.143085,116.059349,25.0,2178.932,0.000
E09000008,5.746996e+06,51.384476,-0.092924,54.791262,1.0,8649.441,0.000
E09000009,6.088779e+06,51.512248,-0.295652,66.387033,4.0,5554.428,0.000
E09000010,6.182737e+06,51.637176,-0.090033,55.112069,15.0,8220.025,0.000
E09000011,5.719313e+06,51.481430,0.030262,72.924444,13.0,5044.190,310.785
E09000012,5.854812e+06,51.545513,-0.069260,81.775000,28.0,1904.902,0.000
E09000013,6.095695e+06,51.489251,-0.213445,104.989785,22.0,1715.409,75.648
E09000014,5.666558e+06,51.587074,-0.106418,56.714004,29.0,2959.837,0.000
E09000015,6.014790e+06,51.590228,-0.335520,46.921053,7.0,5046.330,0.000
E09000016,6.610701e+06,51.567729,0.193950,56.866667,5.0,11445.735,210.763
E09000017,7.118445e+06,51.527544,-0.443233,53.930233,6.0,11570.063,0.000
E09000018,6.131088e+06,51.479723,-0.312278,88.376168,3.0,5658.541,60.755
E09000019,5.977729e+06,51.543867,-0.107834,93.952546,27.0,1485.664,0.000
E09000020,6.224005e+06,51.500200,-0.192405,147.016009,23.0,1238.379,25.994
E09000021,6.167440e+06,51.404714,-0.285111,69.967914,0.0,3726.117,0.000
E09000022,5.871532e+06,51.465494,-0.119013,81.106661,10.0,2724.940,43.927
E09000023,5.465452e+06,51.461754,-0.028294,62.523148,12.0,3531.706,16.795
E09000024,6.284974e+06,51.417111,-0.202708,85.291045,20.0,3762.466,0.000
E09000025,6.160336e+06,51.529933,0.019094,67.555725,30.0,3857.806,237.637
E09000026,6.002695e+06,51.577651,0.057260,59.688742,17.0,5644.225,2.300
E09000027,6.354976e+06,51.453600,-0.311732,103.872690,19.0,5876.111,135.443
E09000028,6.045809e+06,51.487222,-0.079447,85.509425,11.0,2991.340,105.139
E09000029,5.869387e+06,51.362664,-0.175211,54.018868,18.0,4384.698,0.000
E09000030,6.427883e+06,51.518245,-0.047232,76.823138,26.0,2157.501,179.707
E09000031,5.139607e+06,51.578352,-0.011533,60.923077,16.0,3880.793,0.000
E09000032,6.276836e+06,51.456752,-0.177599,92.071386,21.0,3522.022,95.600
E09000033,6.367776e+06,51.514024,-0.162892,138.513940,24.0,2203.005,54.308

In [25]:
data2016_borough_grouped.price

GSS_CODE
E09000001    146.121212
E09000002     47.473684
E09000003     60.800000
E09000004     44.127273
E09000005     65.680342
E09000006     58.175439
E09000007    116.059349
E09000008     54.791262
E09000009     66.387033
E09000010     55.112069
E09000011     72.924444
E09000012     81.775000
E09000013    104.989785
E09000014     56.714004
E09000015     46.921053
E09000016     56.866667
E09000017     53.930233
E09000018     88.376168
E09000019     93.952546
E09000020    147.016009
E09000021     69.967914
E09000022     81.106661
E09000023     62.523148
E09000024     85.291045
E09000025     67.555725
E09000026     59.688742
E09000027    103.872690
E09000028     85.509425
E09000029     54.018868
E09000030     76.823138
E09000031     60.923077
E09000032     92.071386
E09000033    138.513940
Name: price, dtype: float64